
footer{
	background: #f47d31 url(../images/img-footer.jpg) no-repeat center right;
	color:#fff;
	min-height: 323px;
	padding: 40px 0;

	h4{
		font-size: 12px;
		padding-bottom: 20px;
		text-transform: uppercase;
	}

	ul{
		padding-left: 15px;
		li{
			list-style: disc;
			a{
				color: #fff;
			}
		}
	}
}

.wpcf7-mail-sent-ok{
	border:none;
}

.wpcf7-validation-errors{
	border:none;
}