*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

body { background: #fff; color:$base-color; font-family:$base-font-family; font-size:$base-font-size; font-weight:$base-font-weight; line-height: $base-line-height; cursor:default;  overflow-x: hidden; }
html, body {height:$base-height; width: 100%; overflow-x: hidden;}

img {
	display: block;
	max-width: 100%;
}

.img-cover {
  img {
    width: 100%;
    height: 100%;

    -webkit-object-fit: cover;
            object-fit: cover;
  }
}

a {
  color: $base-color;
  @include transition(all .5s);
  &:hover {
        text-decoration: none;
    @include transition(all .5s);
  }
}

* {
    outline-style:none;
    &:focus {
        outline: none;
        outline-style: none;
    }
}
button {
    outline-style:none !important;
    &:focus {
        outline: none !important;
        outline-style: none !important;
    }
    &:active {
        outline: none !important;
        outline-style: none !important;
    }
}

.form-control{
  &:focus{
    box-shadow: none;
  }
}

.overflow-hidden {
    overflow: hidden;
}

.btn-default{
  color: #fff;
  display: block;
  text-align: center;
  width: 190px;
  margin: 0 auto;
  text-transform: capitalize;
  @include btn-white-transparent
}