header{
    background: transparent;
    min-height: 130px;
    padding:0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    width: 100%;

    .topMenu{
        background: #f47d31;
        min-height: 35px;
        .linkMenuTop{
            padding-top: 5px;
            a{
                color: #fff;
                font-size: 12px;
                padding-left: 20px;
            }
        }
    }

    .logo{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }

    .menu{
        .navMain{
            ul{
                &.mainMenu{
                    display: flex;
                    justify-content: space-between;
                    align-items:flex-end;

                    li{
                        padding: 0 0 0 40px;

                        a{
                            color: $base-color;
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-only(xs){
    
       .navIdiomas{
            display: flex;
            justify-content: flex-end;

             ul{
                &.menuIdiomas{
                    display: flex;
                    justify-content: space-between;
                    align-items:flex-end;

                    li{
                        padding: 15px 20px 0 0;

                        a{
                            color: $base-color;
                            font-size: 12px;
                            font-weight: 300;
                            text-decoration: underline;
                        }
                    }
                }
            }
       }

      .navbar-light .navbar-brand{
        font-weight: 700;
        line-height: 28px;
        color: #0D3B64;
        letter-spacing: 0px;
        font-size: 24px;
      }

      button{
            &.navbar-toggler{
                border:none;
                color: #0D3B64;
            }
        }
        .navbar-toggler-icon{
            background-image: url(../images/menu-mobile.svg) !important;
        }
}