.home-banner{
position: relative;
z-index: 0;
}

.home-produtos{
	padding: 42px 110px;

	.box-image-produto{
		position: relative;

		.text-desc-lateral{
			background: #58207b;
			position: absolute;
			bottom:0;
			width: 100%;

			a{
			color:#f47d31;
			display: block;
			font-size: 12px;
			font-weight: bold;
			padding: 25px 0;
			text-align: center;
			}
		}

		.text-desc{
			color: #333132;
			text-align: center;
			h3{
				font-size: 12px;
				padding-bottom: 10px;
				text-transform: uppercase;
			}

			h2{
				font-size: 24px;
				font-weight: bold;
				padding-bottom: 15px;
				text-transform: uppercase;
			}

			p{
				font-size: 16px;
				padding-bottom: 25px;
			}
			a{
				background: #fff;
				border: 1px solid #333132;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				padding: 10px 20px;
			}
		}

		.beleza{
			position: absolute;
			top:20px;
			left:32px;
		}
		.bob-sponja{
			position: absolute;
			bottom:20px;
			left:32px;
		}

		.moda{
			position: absolute;
			top:100px;
			left:150px;
		}
		.beleza1{
			position: absolute;
			bottom:30px;
			left:32px;
		}
	}
}

.home-newsletter{
	padding: 110px;

	h3{
		font-size: 12px;
		text-transform: uppercase;
	}

	.input-newsletter{
		background: #d1d3d4;
		margin-top: 20px;
		padding: 15px 20px;

		input{
			border: none;
			background: transparent;
		}

		button{
			background: #fff;
		}
	}

	.redes-sociais{
		display: flex;
		margin-top: 20px;
		a{
			padding-right: 15px;
		}
	}
}