/* VARIÁVEIS */

$base-font-family: 'Maven Pro', sans-serif;
$base-font-size:14px;
$base-font-weight:300;
$base-color:#333132;
$base-height:100vh;
$base-line-height:22px;



/* MIXINS */
@mixin box-shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}


@mixin btn-default{
	background-color: $main-roxo-color;
	border: none;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	@include transition(all .5s);

    &:active,
    &:focus{
        background-color: transparent;
        border-color: transparent ;
    }

	&:hover{
		background:#012E4E;
        border: none;
		@include transition(all .5s);
	}
}

.btn {
    border-radius: 0;
    box-shadow: none;
    box-shadow: none;
    &:focus {
        outline: none !important;
        outline-style: none !important;
    }
}

@mixin btn-white-transparent{
    background-color:transparent;
    border: 3px solid #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    @include transition(all .5s);

    &:active,
    &:focus{
        background-color: transparent;
        border-color: transparent ;
    }

    &:hover{
        background-color: #fff;
        border: 3px solid #fff;
        color:#000;
        @include transition(all .5s);
    }
}

@mixin btn-green-transparent{
    background-color:transparent;
    border: solid 2px #5bc3c0;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    @include transition(all .5s);

    &:active,
    &:focus{
        background-color: transparent;
        border-color: transparent ;
    }

    &:hover{
        background-color: #5bc3c0;
        border: solid 2px #5bc3c0;
        color:#fff;
        @include transition(all .5s);
    }
}


