@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIÁVEIS */
/* MIXINS */
.btn {
  border-radius: 0;
  box-shadow: none;
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
  outline-style: none !important;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #fff;
  color: #333132;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  cursor: default;
  overflow-x: hidden;
}

html, body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.img-cover img {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

a {
  color: #333132;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* {
  outline-style: none;
}

*:focus {
  outline: none;
  outline-style: none;
}

button {
  outline-style: none !important;
}

button:focus {
  outline: none !important;
  outline-style: none !important;
}

button:active {
  outline: none !important;
  outline-style: none !important;
}

.form-control:focus {
  box-shadow: none;
}

.overflow-hidden {
  overflow: hidden;
}

.btn-default {
  color: #fff;
  display: block;
  text-align: center;
  width: 190px;
  margin: 0 auto;
  text-transform: capitalize;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-default:active, .btn-default:focus {
  background-color: transparent;
  border-color: transparent;
}

.btn-default:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: #000;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header {
  background: transparent;
  min-height: 130px;
  padding: 0;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  width: 100%;
}

header .topMenu {
  background: #f47d31;
  min-height: 35px;
}

header .topMenu .linkMenuTop {
  padding-top: 5px;
}

header .topMenu .linkMenuTop a {
  color: #fff;
  font-size: 12px;
  padding-left: 20px;
}

header .logo {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

header .menu .navMain ul.mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header .menu .navMain ul.mainMenu li {
  padding: 0 0 0 40px;
}

header .menu .navMain ul.mainMenu li a {
  color: #333132;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 575.98px) {
  .navIdiomas {
    display: flex;
    justify-content: flex-end;
  }
  .navIdiomas ul.menuIdiomas {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .navIdiomas ul.menuIdiomas li {
    padding: 15px 20px 0 0;
  }
  .navIdiomas ul.menuIdiomas li a {
    color: #333132;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
  }
  .navbar-light .navbar-brand {
    font-weight: 700;
    line-height: 28px;
    color: #0D3B64;
    letter-spacing: 0px;
    font-size: 24px;
  }
  button.navbar-toggler {
    border: none;
    color: #0D3B64;
  }
  .navbar-toggler-icon {
    background-image: url(../images/menu-mobile.svg) !important;
  }
}

.home-banner {
  position: relative;
  z-index: 0;
}

.home-produtos {
  padding: 42px 110px;
}

.home-produtos .box-image-produto {
  position: relative;
}

.home-produtos .box-image-produto .text-desc-lateral {
  background: #58207b;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-produtos .box-image-produto .text-desc-lateral a {
  color: #f47d31;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 25px 0;
  text-align: center;
}

.home-produtos .box-image-produto .text-desc {
  color: #333132;
  text-align: center;
}

.home-produtos .box-image-produto .text-desc h3 {
  font-size: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.home-produtos .box-image-produto .text-desc h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.home-produtos .box-image-produto .text-desc p {
  font-size: 16px;
  padding-bottom: 25px;
}

.home-produtos .box-image-produto .text-desc a {
  background: #fff;
  border: 1px solid #333132;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
}

.home-produtos .box-image-produto .beleza {
  position: absolute;
  top: 20px;
  left: 32px;
}

.home-produtos .box-image-produto .bob-sponja {
  position: absolute;
  bottom: 20px;
  left: 32px;
}

.home-produtos .box-image-produto .moda {
  position: absolute;
  top: 100px;
  left: 150px;
}

.home-produtos .box-image-produto .beleza1 {
  position: absolute;
  bottom: 30px;
  left: 32px;
}

.home-newsletter {
  padding: 110px;
}

.home-newsletter h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.home-newsletter .input-newsletter {
  background: #d1d3d4;
  margin-top: 20px;
  padding: 15px 20px;
}

.home-newsletter .input-newsletter input {
  border: none;
  background: transparent;
}

.home-newsletter .input-newsletter button {
  background: #fff;
}

.home-newsletter .redes-sociais {
  display: flex;
  margin-top: 20px;
}

.home-newsletter .redes-sociais a {
  padding-right: 15px;
}

footer {
  background: #f47d31 url(../images/img-footer.jpg) no-repeat center right;
  color: #fff;
  min-height: 323px;
  padding: 40px 0;
}

footer h4 {
  font-size: 12px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

footer ul {
  padding-left: 15px;
}

footer ul li {
  list-style: disc;
}

footer ul li a {
  color: #fff;
}

.wpcf7-mail-sent-ok {
  border: none;
}

.wpcf7-validation-errors {
  border: none;
}
